body {
    margin: 0;
    padding: 0;
    font-family: calibri;
}

a {
	outline: none;
}

/* -------------------- REAL BODY -------------------- */

	#inicio_admin{
	
		height: 100%;
		width: 100%;
		overflow: auto;
		position: fixed;
		left:0;
		top: 0;
		z-index: 1; /* Se superpone */
		background-color: white; /* Colores de fondo*/
		display: flex;/* Oculto por defecto*/
		align-items: center;
		justify-content: center;
					
	}

	.formulario {
			
			width: 80%;
			margin: auto;
			background-color: #baf6f7;
			z-index: 2;
			position: initial;
			border-radius: 20px 20px 20px 20px;
			-moz-border-radius: 20px 20px 20px 20px;
			-webkit-border-radius: 20px 20px 20px 20px;
			border: 0px solid #000000;
			box-shadow: 4px 4px 4px 0px rgba(222,222,222,1);
			
		}
		
		#Titulo_logeo{
			
			text-align: center;
			font-weight: bold;
			font-size: 30px;
			height: 40px;
		}
		
		.contacto{
			/border: 1px solid #CED5D7;
			border-radius: 6px;
			padding: 45px 45px 20px;
			font-family: sans-serif;
			font-size: 12px;
			color: #798e94;
		}
		.contacto label{
			display: block;
			font-weight: bold;
			font-size: 20px;
		}
		.contacto div{
			margin-bottom: 15px;
		}
		.contacto input[type='text'], .contacto textarea{
			padding: 7px 6px;
			width: 294px;
			border: 1px solid #CED5D7;
			resize: none;
			box-shadow:0 0 0 3px #EEF5F7;
			margin: 5px 0;
		}
		.contacto input[type='text']:focus, .contacto textarea:focus{
			outline: none;
			box-shadow:0 0 0 3px #dde9ec;
		}
		.contacto input[type='password'], .contacto textarea{
			padding: 7px 6px;
			width: 294px;
			border: 1px solid #CED5D7;
			resize: none;
			box-shadow:0 0 0 3px #EEF5F7;
			margin: 5px 0;
		}
		.contacto input[type='password']:focus, .contacto textarea:focus{
			outline: none;
			box-shadow:0 0 0 3px #dde9ec;
		}
		.contacto input[type='submit']{
			border: 1px solid #CED5D7;
			box-shadow:0 0 0 3px #EEF5F7;
			padding: 8px 16px;
			border-radius: 20px;
			font-weight: bold;
			text-shadow: 1px 1px 0px white;
		 
			background: #e4f1f6;
			background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
			background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
		}
		.contacto input[type='submit']:hover{
			background: #edfcff;
			background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
			background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
		}
		.contacto input[type='submit']:active{
			background: #cfe6ef;
			background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
			background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
		}