body {
    margin: 0;
    padding: 0;
    font-family: calibri;
    background-color:#F2F2F2;
}


#medium{
	padding-top: 20px;
	background-color: #F2F2F2;
	min-width: 1220px;
}

#head {
	margin: 0 10% 20px 10%;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 4px 4px 4px 0px rgba(222,222,222,1);
	min-width: 976px;
}

#imagen_perfil{
	height: 150px;
	background-image: url("../img/cabecera_perfil.png");	

}

#texto_imagen_perfil{
	
	color: white;
	font-weight: bold;
	font-size: 35px;
	display:flex;
	justify-content: center;
	padding-top: 50px;
	
}

#head ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0;
	margin-top: 35px;
}

#head ul li {
	text-decoration: none;
	list-style: none;
	margin: 0 20px;
	font-size: 15px;
	color: white;

}

#body_impostor{
	
	margin-left: 10%;
	width: 80%;
	height: 1000px;
}

#opciones{
	
	background-color: #38dfda;
	width: 15%;
	float: left;	
	background-color: white;
	box-shadow: 4px 4px 4px 0px rgba(222,222,222,1);
	border-radius: 20px;
	padding: 10px 25px;	
	margin-right: 2%;
}

#datos{
	
	//background-color: #55edfa;
	width: 72%;
	float: left;
	background-color: white;
	box-shadow: 4px 4px 4px 0px rgba(222,222,222,1);
	border-radius: 20px;
	padding: 10px 25px;
	font-weight: bold;
	color: #beb0b0;
	margin-bottom: 1%;
	padding-bottom:30px;	
}

#menu_opciones{
	
	//padding-top: 40px;
	text-align: center;
}


.button, button.input[type = "submit"]{

	background-color: #0edba7;
	margin-top: 12%;
	border: none;
	color: white;
	width: 100%;
	height: 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
	margin-bottom:2%;
}


.button:hover, button.input[type = "submit"]:hover {
  background: #21d012;
  cursor: pointer;
  text-decoration: none;
}

.columna_datos{
	
	width: 35%;
	margin-top: 10px;
	padding: 20px;
	float: left;
	padding-bottom:0px;
	margin-left: 6%;
	
	
}
.columna_datos input[type=text], input[type=password], #provinciaID, input[type=number]{
	
	width: 100%;
	padding: 6px 10px;
    margin: 8px 0;
	display: inline-block;
	margin-top: 10px;
	border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	margin-bottom: 20px;
	
	
}

#contenedor_datos{
	
	margin-top: 20px;
	//padding: 20px;	
	border-radius: 15px;
    background-color: #f2f2f2;
	height: 100%;
}

#contenedor_datos_producto{
	
	margin-top: 20px;	
	border-radius: 15px;
    background-color: #f2f2f2;
}

.producto{
	padding-top: 2%;
	padding-left: 2%;
}

.producto .campo {
    width: 16%;
    text-aling: left;
    font-weight: bold;
    font-size: 12px;
    float: left;
    margin-bottom: 8px;
}

.producto .valor {
    width: 16%;
    text-aling: left;
    font-size: 12px;
    float: left;
    font-weight: initial;
    margin-bottom: 8px;
}

#imagenes{
	max-height: 500px;
	padding-top: 175px;
}

.usuario{
	width:100%;
	height: 90px;
	padding-top: 2%;
	padding-left: 2%;
}

.usuario .campo{
	width:16%;
	text-aling:left;
	font-weight: bold;
	font-size:12px;
	float: left;
	margin-bottom: 8px;
}

.usuario .valor{
	width:16%;
	text-aling:left;
	font-size:12px;
	float: left;
	font-weight: initial;
	margin-bottom: 8px;
}


/* -------------------- MODALES-------------------- */
	.fondo_modal{
		
		height: 100%;
		width: 100%;
		overflow: auto;
		position: fixed;
		left:0;
		top: 0;
		z-index: 1; /* Se superpone */
		background-color: rgb(0,0,0); /* Colores de fondo*/
		background-color: rgba(0,0,0,0.4); /* Colores de fondo */
		display: none;/* Oculto por defecto*/
		align-items: center;
		justify-content: center;
					
	}
	
	.formulario {
		
		width: 400px;
		margin: auto;
		background-color: #baf6f7;
		z-index: 2;
		position: initial;
		
		border-radius: 20px 20px 20px 20px;
		-moz-border-radius: 20px 20px 20px 20px;
		-webkit-border-radius: 20px 20px 20px 20px;
		border: 0px solid #000000;
		
	}
	
	
	
	#Titulo_logeo{
		
		text-align: center;
		font-weight: bold;
		font-size: 16.5px;
		height: 25px;
	}
	
	.contacto{
		/border: 1px solid #CED5D7;
		border-radius: 6px;
		padding: 45px 45px 20px;
		font-family: sans-serif;
		font-size: 12px;
		color: #798e94;
	}
	.contacto label{
		display: block;
		font-weight: bold;
	}
	.contacto div{
		margin-bottom: 15px;
	}
	.contacto input[type='text'], .contacto textarea{
		padding: 7px 6px;
		width: 294px;
		border: 1px solid #CED5D7;
		resize: none;
		box-shadow:0 0 0 3px #EEF5F7;
		margin: 5px 0;
	}
	.contacto input[type='text']:focus, .contacto textarea:focus{
		outline: none;
		box-shadow:0 0 0 3px #dde9ec;
	}
	.contacto input[type='password'], .contacto textarea{
		padding: 7px 6px;
		width: 294px;
		border: 1px solid #CED5D7;
		resize: none;
		box-shadow:0 0 0 3px #EEF5F7;
		margin: 5px 0;
	}
	.contacto input[type='password']:focus, .contacto textarea:focus{
		outline: none;
		box-shadow:0 0 0 3px #dde9ec;
	}
	.contacto input[type='submit']{
		border: 1px solid #CED5D7;
		box-shadow:0 0 0 3px #EEF5F7;
		padding: 8px 16px;
		border-radius: 20px;
		font-weight: bold;
		text-shadow: 1px 1px 0px white;
	 
		background: #e4f1f6;
		background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
		background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
	}
	.contacto input[type='submit']:hover{
		background: #edfcff;
		background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
		background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
	}
	.contacto input[type='submit']:active{
		background: #cfe6ef;
		background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
		background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
	}

#busqueda_alfabetica{
	max-height: 60px;;
	margin-top:6px;
}

	#busqueda_alfabetica .button{
		width: 20px;
		margin-top: 0; 
		margin-left: 3px; 
		font-size: 13px; 
		padding: 0;
		background-color: #80c2e4;
		text-align:center;
		height:30px;
		margin-botton:3px;
	}

#barra_busqueda{
	height: 40px;
	margin-left: 1%;
	margin-top: 1%;
	padding-top: 1%;
}

#barra_busqueda .button{
	border:none;
	margin-top:2px;
	width: 10%;
	height: 27px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#text-chat{
	margin-left: 10%;
	margin-top: 1%;
	width: 70%;
	font-weight: initial;
	 word-wrap: break-word;
}
